.icon-margin {
    margin-right: 8px;
}


.heading{
    color : #2A3663;
    text-align : center;
    font-size: 2.5rem;
    font-family: 'Arial', sans-serif;
}

.fea{
    background-color : #D9DFC6;
}

.fea_para{
    font-size: 19px;
     line-height: 1.6;
     color: #555;
}

#faqbody{
    background-color : #9AA6B2;
    text-align : center;
}

.h2faq{
    font-size: 25px;
    color : #2A3663;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}
.pfaq{
    font-size: 20px;
     line-height: 1.6;
     color: #444;

}
.contact{
    font-size: 25px;
    color : #2A3663;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;

}

.pcont{
    font-size: 20px;
     line-height: 1.6;
     color: #444;
}
.contacth3{
    color : #2A3663;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;

}

.contactbody{
    background-color : #F5EFFF;
}
